@import "~/scss/main.scss";

.landing-uber {
  .hero{
    background: url('/landings/uber//bg-hero.jpg') no-repeat top / cover;
    @media #{$media-movil, $media-iphone} {
      background: var(--primary-green);
    }
    @extend %landing-hero;
  }
  .section1 {
    padding:40px 0;
    .wrapper {
      @extend %steps;
    }
  }
}
