$media-iphone: "(max-width : 375px) and (min-width : 300px)";
$media-movil: "(max-width : 736px) and (min-width : 376px)";
$media-ipad: "(max-width : 1024px) and (min-width : 763px)";
$media-laptop: "(max-width : 1366px) and (min-width : 737px)";
$media-desktop: "(max-width : 1920px) and (min-width : 1281px)";
