@import "~/scss/main.scss";

.slug {
  display: flex;
  flex-direction: column;

  .car-info-fixed {
    visibility: hidden;
    background: white;
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
    padding: 0 50px;
    justify-content: space-between;
    position: fixed;
    z-index: 999999999;
    width: 100%;
    height: 81px;
    top: 0; //original is 0px

    .left {
      flex: 1;

      img {
        width: 120px;
        display: block;
      }

      @media #{$media-movil, $media-iphone} {
        display: none;
      }
    }

    .right {
      display: flex;
      align-items: center;

      .car {
        font-size: 1.5rem;
        color: var(--p);
        font-weight: bold;
        @media #{$media-movil, $media-iphone} {
          font-size: 1rem;
        }
      }

      .line {
        height: 50px;
        width: 1px;
        background: var(--border);
        margin: 0 20px;
      }

      .cost {
        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
          &:first-child {
            font-weight: bold;
            color: var(--primary-orange);
            font-size: 1.3rem;
          }
        }
      }

      .action {
        display: flex;
        align-items: center;
        gap:.5rem;
        margin-left: 20px;
        @media #{$media-movil, $media-iphone} {
          margin-left: 0;
          width: 100%;
        }
        a{
          background: var(--primary-green);
          width: 100%;
        }
        .show-video {
          background: var(--primary-orange);
          color: white;
          cursor: pointer;
          border-radius: 5px;
          font-weight: bold;
          padding: .5rem 1.25rem;
          display: flex;
          gap: .5rem;
          height: 56px;
          align-items: center;
          justify-content: center;
          @media #{$media-movil, $media-iphone} {
            display: none;
          }

        }
        @media #{$media-movil, $media-iphone} {
          position: fixed;
          bottom: 0;
          width: 100%;
          left: 0;
          margin: 0;
        }
      }
    }

    &.fixed {
      visibility: visible;
    }
  }

  .hero {
    overflow: hidden;
    display: flex;
    position: relative;
    @media #{$media-movil, $media-iphone} {
      height: 100%;
      flex-direction: column;
    }
    @media #{$media-laptop} {
      height: 100%;
    }



    .save-car {
      position: absolute;
      display: flex;
      align-items: center;
      right: 20px;
      top: 20px;
      z-index: 99999;

      @media #{$media-movil, $media-iphone} {
        flex-direction: column;
      }

      .show-video {
        background: var(--primary-orange);
        color: white;
        cursor: pointer;
        border-radius: 1.5rem;
        font-weight: bold;
        padding: .5rem 1.25rem;
        display: flex;
        gap: .5rem;
        align-items: center;
        justify-content: center;
        @media #{$media-movil, $media-iphone} {
          border-radius: 50%;
          width: 30px;
          margin-top:10px;
          order: 1;
          height: 30px;
          padding: 0;
        }

        @media #{$media-movil, $media-iphone} {
          span{
            display: none;
          }
        }
      }

      .phone {
        background: rgba(255, 255, 255, .5);
        border-radius: 5px;
        color: var(--primary-green);
        font-weight: bold;
        margin-right: 20px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        @media #{$media-movil, $media-iphone} {
          display: none;
        }

        i {
          margin-right: 10px;
          transform: rotate(90deg);
        }
      }

      .save {
        left: 15px;
        top: 15px;

        i {
          background: white;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
          border-radius: 50%;
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.3em;
          cursor: pointer;
          color: #D5D5D5;
          @media #{$media-movil, $media-iphone} {
            width: 26px;
            height: 26px;
            font-size: 1em;
          }

          &.selected {
            animation: scale .4s;
            color: var(--primary-green-ligth);
          }
        }
      }
    }

    &__gallery {
      flex: 1;
      width: 100%;
      overflow: hidden;

      img {
        width: 100%;
        display: block;
      }
    }
  }

  .specifications {
    margin-top: -100px;
    position: relative;
    @media #{$media-movil, $media-iphone} {
      margin-top: 0;
    }

    .wrapper {
      background: white;
      padding: 20px;
      border-radius: 5px;

      .title {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-bottom: 1px solid var(--border);
        padding-bottom: 20px;
        @media #{$media-movil, $media-iphone} {
          grid-template-columns: 1fr;
          border-radius: 5px;
        }

        .left {
          .car-title {
            font-size: 2.5rem;
          }

          .car-sold{
            background: #de651a;
            color:white;
            border-radius: .5rem;
            text-transform: uppercase;
            font-weight: bold;
            padding: .2rem 1rem 0;
          }

          .in-stock{
            background: green;
            color:white;
            border-radius: .5rem;
            text-transform: uppercase;
            font-weight: bold;
            padding: .2rem 1rem 0;
          }

          .payment-and-price {
            display: flex;
            margin-top: 20px;
            @media #{$media-movil, $media-iphone}{
              flex-direction: column;
            }

            div {
              display: flex;
              flex-direction: column;

              span {
                &:first-child {
                  font-size: 1.7rem;
                }
              }
            }

            .payment {
              margin-right: 30px;
              @media #{$media-movil, $media-iphone}{
                margin-right: 0;
              }

              span {
                &:first-child {
                  color: var(--primary-green);
                  font-weight: bold;
                }
              }
            }

            .price {
              position: relative;
              .price-content {
                display: flex;
                width: 160px;
                flex-direction: row;
                align-items: center;

                span {
                  font-size: 1rem;
                  margin-right: 5px;
                }

                .terms {
                  position: relative;
                }

                .terms:hover {
                  &::after {
                    content: '';
                    height: 20px;
                    bottom: -10px;
                    width: 100%;
                    position: absolute;
                  }

                  .disclaimer-box {
                    visibility: visible;
                    transition-delay: .7s;
                  }
                }

                .disclaimer-box {
                  position: absolute;
                  background: #FFFFFF;
                  border: 1px solid #EEEFF1;
                  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
                  border-radius: 4px;
                  height: 150px;
                  right: -80px;
                  overflow: auto;
                  width: 350px;
                  padding: 10px;
                  top: 20px;
                  font-size: .8rem;
                  font-weight: 500;
                  visibility: hidden;
                }
              }
            }
          }
        }

        .right {
          .call-action {
            display: flex;
            justify-content: flex-end;
            @media #{$media-movil, $media-iphone} {
              justify-content: flex-start;
            }


            a:first-child {
              background: rgba(#2DA401, .1);
              margin-right: 20px;
            }
          }

          .call-us{
            background: rgba(darkgreen, .5);
            border-radius: .5rem;
            gap:.5rem;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color:white;

            .text{
              color:white;
            }

            .phone-number{
              font-weight: bold;
              font-size: 1.25rem;
            }
          }
        }
      }

      .specifications-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 30px;
        margin: 30px 0;

        li {
          display: flex;
          align-items: flex-start;

          img {
            margin-right: 10px;
            display: block;
            margin-top: -2px;
          }

          .info {
            display: flex;
            flex-direction: column;

            span:first-child {
              color: var(--primary-green);
              font-weight: 600;
              margin-bottom: 10px;
            }

            span:last-child {
              color: var(--gray-border);
              font-weight: 500;
            }
          }
        }
      }

      .more-actions {
        display: flex;

        div {
          margin-right: 20px;
        }
      }

    }
  }

  .equipments {

    .wrapper {
      background: white;
      border-radius: 5px;
      position: relative;

      header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--border);
        padding: 0 20px;
        height: 60px;
        font-weight: bold;

        i {
          margin-right: 10px;
          color: var(--primary-green);
        }
      }

      .equipment-list {
        padding: 20px;
        max-height: 550px;
        overflow: hidden;
        position: relative;

        &.expand {
          max-height: none;
          padding-bottom: 100px;
        }

        & > div {
          margin-bottom: 20px;

          .title {
            color: var(--primary-green);
            display: block;
            margin: 0;
            font-size: 1em;
          }
        }

        ul {
          display: grid;
          margin-top: 5px;
          grid-template-columns: repeat(auto-fill, minmax(130px, 265px));

          li {
            font-size: .8em;
            padding: 0 10px;
            position: relative;

            &:before {
              content: '';
              width: 5px;
              height: 5px;
              border-radius: 50%;
              background: black;
              position: absolute;
              top: 6px;
              left: -1px;
            }
          }
        }


      }

      .view-all {
        position: absolute;
        background: linear-gradient(rgba(255, 255, 255, .9), white);
        bottom: 0;
        width: 100%;
        left: 0;
        display: flex;
        align-items: center;
        height: 100px;
        font-size: 1em;
        color: var(--primary-green);
        font-weight: bold;
        justify-content: center;

        span {
          cursor: pointer;
        }
      }
    }
  }

  .car-comments {
    margin-top: 100px;
    @media #{$media-movil, $media-iphone} {
      margin-top: 30px;
    }

    .wrapper {
      background: white;
      padding: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 40px;
      @media #{$media-movil, $media-iphone} {
        grid-template-columns: 1fr;
      }

      .left {
        max-height: 600px;
        overflow: auto;
        padding-right: 10px;

        h2 {
          margin-bottom: 30px;
        }

        p {
          line-height: 25px;
          font-size: 1rem;
          text-align: justify;
          @media #{$media-movil, $media-iphone} {
            font-size: 1rem;
          }
        }
      }

      .right {
        figure {
          height: 600px;
          @media #{$media-movil, $media-iphone} {
            grid-template-columns: 1fr;
            height: 300px;
          }

          img {
            display: block;
            border-radius: 5px;
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }

  .warranty {
    margin-top: 150px;
    @media #{$media-movil, $media-iphone} {
      margin-top: 30px;
    }

    .wrapper {
      .header {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          margin: 20px 0 40px 0;
          color: var(--p);
          width: 80%;
        }
      }

      .tabs {
        display: grid;
        grid-template-columns: 1fr;
        background: white;
        border-radius: 5px;

        .left {
          ul {
            height: 80px;
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            border-bottom: 1px solid var(--border);

            li {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0 10px;
              color: var(--p);
              font-size: .9rem;
              text-align: center;
              position: relative;
              overflow: hidden;

              &.selected {
                color: var(--primary-green);
                font-weight: bold;

                &::after {
                  content: '';
                  background: var(--primary-green);;
                  width: 15px;
                  height: 12px;
                  position: absolute;
                  transform: rotate(45deg);
                  bottom: -5px;

                }

                &::before {
                  content: '';
                  background: var(--primary-green);
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  height: 3px;
                  width: 100%;
                }
              }

              &:hover {
                background: var(--body-bg);
                cursor: pointer;
              }
            }
          }
        }

        .right {
          padding: 20px;

          p {
            color: var(--p);
          }
        }
      }

      .tabs-mobile {
        padding: 0 20px;

        ul {
          display: flex;
          flex-direction: column;
          height: 100%;
          background: white;
          border: 1px solid var(--border);
          border-radius: 5px;

          li {
            flex: 1;
            display: flex;
            flex-direction: column;
            color: var(--p);

            .item {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 0 20px;
              height: 45px;
              border-bottom: 1px solid var(--border);

              i {
                background: var(--primary-green-ligth);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 20px;
                height: 20px;
                color: white;
                font-size: .5rem;
              }

              &.selected {
                background: var(--body-bg)
              }
            }

            .content {
              padding: 20px;
              border-bottom: 1px solid var(--border);
            }
          }
        }

      }
    }
  }

  .similar {
    margin-top: 150px;
    background: white;
    @media #{$media-movil, $media-iphone} {
      margin-top: 30px;
    }

    .wrapper {
      padding: 50px 0;

      .header {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          margin: 20px 0 40px 0;
          color: var(--p);
          width: 80%;
        }
      }
    }
  }

  .disclosure {
    .wrapper {
      font-size: .8rem;
      padding: 30px 0;
      text-align: justify;
      @media #{$media-movil, $media-iphone} {
        padding: 20px;
      }
    }
  }

  .am-modal-body {
    .controls-wrapper {
      width: 450px;
      @media #{$media-movil, $media-iphone} {
        width: 100%;
      }

      div {
        position: relative;

        input {
          width: 100%;
          height: 40px;
          padding: 0 12px;
          border-radius: 5px;
          border: 1px solid var(--border);
          margin-bottom: 20px;
        }

        span {
          color: var(--error);
          font-size: .7rem;
          font-weight: 500;
          position: absolute;
          left: 3px;
          bottom: 3px;
        }
      }
    }

    .textarea {
      position: relative;

      textarea {
        border-radius: 5px;
        border: 1px solid var(--border);
        padding: 10px;
        width: 100%;
        resize: none;
        height: 150px;
        margin-bottom: 20px;
        @media #{$media-movil, $media-iphone} {
          height: 120px;
        }
      }

      span {
        color: var(--error);
        font-size: .7rem;
        font-weight: 500;
        position: absolute;
        left: 3px;
        bottom: 6px;
      }
    }
  }

  .video-modal {
    width: 40vw;
    height: 50vh;
    @media #{$media-movil, $media-iphone}{
      width: 100vw;
      height: 40vh;
      padding: 0;
    }
  }


}

@keyframes scale {
  0% {
    font-size: 1em;
  }
  25% {
    font-size: 1.3em;
  }
  50% {
    font-size: 1em;
  }
  75% {
    font-size: 1.3em;
  }
  100% {
    font-size: 1.3em;
  }
}
