.am-search-car {
  .full-search {
    width: 100%;
    position: relative;
    min-height: 50px;
    .input-search {
      border-radius: 5px;
      color: var(--color-gray);
      position: relative;
      font-weight: bold;
      height: 100%;
      border: 1px solid #F3F3F1;
      display: flex;
      z-index:999999;
      align-items: center;
      & > input {
        color: var(--color-gray);
        font-size: 1em;
        width: 100%;
        outline: none;
        padding: 0 0 0 15px;
        border: 0;
        height: 50px;
      }
      button {
        border: 0;
        outline: none;
        background: none;
        color: white;
        height: 100%;
        width: 40px;
        justify-content: center;
        font-weight: bold;
        i {
          color: var(--color-orange);
        }
        &:hover {
          cursor: pointer;
        }
      }
      ul {
        background: white;
        border: 1px solid #F3F3F1;
        box-shadow: 0 0 2px -1px rgba(#FF9F05, .3);
        position: absolute;
        left: 0;
        width: 100%;
        top: 100%;
        li {
          height: 40px;
          font-weight: 500;
          padding: 0 15px;
          display: flex;
          align-items: center;
          color: var(--color-gray);
          &:hover {
            background: var(--color-gray-light);
            cursor: pointer;
          }
        }
      }
    }
  }
  .simple-search {
    position: relative;
    z-index: 999999;
    &.clear{
      .input{
        border:1px solid white;
      }
    }
    .input {
      width: 100%;
      position: relative;
      border-radius: 5px;
      background: white;
      height: 45px;
      outline: none;
      border: none;
      font-size: 1em;
      z-index: 9999;
      & > input {
        width: 100%;
        background: transparent;
        height: 100%;
        border: none;
        position: absolute;
        left: 0;
        outline: none;
        padding:0 17px;
        top: 0;
        z-index:9999;

        &:focus ~ .placeholder {
          display: none;
        }
      }

      .placeholder {
        position: absolute;
        top: 0;
        width: 100%;
        left:0;
        padding:0 17px;
        height: 100%;
        display: flex;
        align-items: center;

        span {
          color: var(--parrafo);

          &:first-child {
            animation: writing 8s infinite;
            animation-delay: 2.1s, 480ms;
            display: block;
            position: relative;
            overflow: hidden;
            width: 0;

            p {
              width: 340px;
            }
          }

          &:last-child {
            animation: blink .7s infinite;
          }
        }
      }
    }
    .results {
      background: white;
      position: absolute;
      border: 1px solid var(--border);
      border-radius: 5px;
      left: 0;
      width: 100%;
      top: 100%;
      margin-top:-7px;
      display: flex;
      max-height: 300px;
      overflow: hidden;

      ul {
        flex: 1;
        overflow-y: scroll;
        right: -17px;
        box-sizing: content-box;
        position: relative;

        li {
          height: 35px;
          cursor: pointer;
          display: flex;
          align-items: center;
        }
      }
    }

    & > i {
      position: absolute;
      right: 15px;
      top: 5px;
      padding: 8px 0;
      text-align: center;
      font-size: 1em;
      font-weight: bold;
      border-radius: 5px;
      transition: all 8s ease-in-out;
      cursor: pointer;

      &:hover {
        font-size: 1.2em;
        top: 2px;
      }
    }

  }
}
@keyframes writing {
  0% {
    width:0;
  }
  25%{
    width: 0;
  }
  50%{
    width: 310px;
  }

  100%{
    width: 310px;
  }
}
@keyframes blink {
  0% {
    color: white;
  }
  25%{
    color: white;
  }

  50% {
    color: white;
  }
  75% {
    color: black;
  }
  100% {
    color: black;
  }
}
