
<section class="am-disclosure">
  <p>
    * Accessories and color may vary. Internet price subject to change without notice to correct errors or omissions or in the event of inventory fluctuations. Prices are valid on day of publication only. Offers cannot be combined. Sales tax or other taxes, pre-delivery service charge, upgrades, tag, electronic filing fee, title, registration fees, government fees, and dealer fee are not included in advertised price. Ambar Motors may make a profit on the delivery, processing and handling fee. It is the customer's sole responsibility to verify the existence and condition of any equipment listed as well as any outstanding manufacturer recalls. Ambar Motors is not responsible for misprints on prices or equipment nor for typographical or other errors, including data transmission, display, or software errors that may appear on this site.
  </p>
</section>

