<section class='nav' :class="{'bg': showNav }">


  <nuxt-link :to="localePath('watchList')">
    <div class='save-car' v-if='getFavorites.length > 0'>
      <i :class="{'active':getFavorites.length > 0}">
        <fa icon='heart' />
      </i>
      <span>{{ getFavorites.length }}</span>
    </div>
  </nuxt-link>

  <ul style="margin: auto;">
    <li style="display: flex; align-items: flex-end;" v-for='(item, key) of items' :key='key'>
      <nuxt-link :to='localePath(item.to.name)'>
        {{ $t(item.title) }}
      </nuxt-link>
    </li>

    <li style="display: flex; align-items: flex-end;"  class='more' ref='moreNav'>
      <span @click="toggleExpand('More')" class='submenu'>
        {{ $t('more') }}
        <i><fa icon='angle-down' /></i>
      </span>
      <div v-closable="{ exclude: ['moreNav'], handler: 'onCloseMore'}">
        <ul v-if='shown.More' class='submenu'>
          <li v-for='(item, key) of more' :key='key'>
            <nuxt-link :to='localePath(item.to.name)'>{{ $t(item.title) }}</nuxt-link>
          </li>
        </ul>
      </div>
    </li>
  </ul>

  <div class='language' ref='languageNav'>
    <div class="call-button-container">
      <div class="call-button">
        <a href="tel:+13058278484">
          <div class="call-button-icon">
            <svg fill="#ffffff" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M11.748 5.773S11.418 5 10.914 5c-.496 0-.754.229-.926.387S6.938 7.91 6.938 7.91s-.837.731-.773 2.106c.054 1.375.323 3.332 1.719 6.058 1.386 2.72 4.855 6.876 7.047 8.337 0 0 2.031 1.558 3.921 2.191.549.173 1.647.398 1.903.398.26 0 .719 0 1.246-.385.536-.389 3.543-2.807 3.543-2.807s.736-.665-.119-1.438c-.859-.773-3.467-2.492-4.025-2.944-.559-.459-1.355-.257-1.699.054-.343.313-.956.828-1.031.893-.112.086-.419.365-.763.226-.438-.173-2.234-1.148-3.899-3.426-1.655-2.276-1.837-3.02-2.084-3.824a.56.56 0 0 1 .225-.657c.248-.172 1.161-.933 1.161-.933s.591-.583.344-1.27-1.906-4.716-1.906-4.716z"></path></g></svg>
          </div>
          <span class="text">
            <span class="call-text-number">(305) 827-8484</span>
            <span class="call-text-info">Call now &bull; Hablamos español</span>
          </span>
        </a>
      </div>
    </div>
    <div @click="toggleExpand('Language')" class='language__active'>
      <i v-if="languageActive === 'Spanish'"><img :src='`/layout/${language[$i18n.locale].Flag}.png`' alt=''></i>
      <i v-if="languageActive === 'English'"><img :src='`/layout/${language[$i18n.locale].Flag}.png`' alt=''></i>
      <span>{{ language[$i18n.locale].Key }}</span>
      <i>
        <fa icon='angle-down' />
      </i>
    </div>
    <div v-if='shown.Language' v-closable="{ exclude: ['languageNav'], handler: 'onCloseLang'}"
         class='language__select submenu'>
      <ul>
        <li @click="languageActive = 'Spanish'">
          <img src='/layout/spain.png' alt=''>
          <nuxt-link :to="switchLocalePath('es')" :class="{selected: language === 'Spanish'}">{{ $t('spanish') }}
          </nuxt-link>
        </li>
        <li @click="languageActive = 'English'">
          <img src='/layout/usa.png' alt=''>
          <nuxt-link :to="switchLocalePath('en')" :class="{selected: language === 'English'}">{{ $t('english') }}
          </nuxt-link>
        </li>
      </ul>
    </div>
  </div>
</section>
