@import "~/scss/main.scss";

.assurance {
  .hero {
    width: 100%;
    padding: 40px 0;

    .wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .top {
        width: 100%;
        margin: 60px 0;
        text-align: center;

        h1 {
          font-weight: bold;
          line-height: 55px;
          text-transform: uppercase;
          margin-bottom: 50px;
        }

        a {
          display: inline-block;

          i {
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            background: var(--color-orange);
            border-radius: 50%;
            font-size: 1.3em;
            margin-right: 20px;
            transform: rotate(-45deg);
            float: left;
          }

          span {
            color: var(--color-orange);
            font-size: 2.4em;

          }
        }
      }

      .left,
      .right {
        width: 48%;

        p {
          font-size: 1.2rem;
          font-weight: 500;
          text-align: justify;
        }
      }
    }
  }

  .protection {
    padding: 90px 0;
    background: url('/assurance/Background Opacity.png') no-repeat center / cover;
    height: 500px;
    display: flex;
    align-items: center;

    .wrapper {
      text-align: center;

      h2 {
        color: white;
        font-size: 2.5rem;
        text-transform: uppercase;
        margin-bottom: 30px;
      }

      p {
        color: white;
        font-size: 1.5rem;
        text-align: justify;
        width: 80%;
        margin: 0 auto;
      }

    }
  }

  .program {
    padding: 90px 0;

    .wrapper {
      text-align: center;

      h2 {
        font-weight: bold;
        font-size: 2.3rem;
        text-transform: uppercase;
        margin-bottom: 60px;

        strong {
          color: var(--color-green);
        }
      }

      .body {
        background: white;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
        padding: 30px;
        box-shadow: var(--box-shadow-gray);
        border-radius: 8px;

        .item {
          width: 210px;
          display: flex;
          flex-direction: column;
          margin: 0 auto;

          figure {
            background: var(--body-bg);
            width: 80px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
            border-radius: 50%;

            img {
              width: 50%;
            }
          }

          h3 {
            height: 50px;
            font-size: 1.3em;
            text-align: initial;
            margin-bottom: 20px;
            font-weight: bold;
            line-height: 23px;
          }

          p {
            font-size: 1rem;
            font-weight: 500;
            text-align: initial;
          }
        }
      }
    }
  }

  .download {
    padding: 100px 0;
    background: white;

    .wrapper {
      text-align: center;

      h2 {
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
      }
      p {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom:30px;
      }

      & > .am-footer {
        display: flex;
        justify-content: center;
      }
    }
  }
}

@media #{$media-movil, $media-iphone} {
  .assurance {
    .hero {
      width: 100%;
      padding: 40px 0;

      .wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .top {
          width: 100%;
          margin: 10px 0;
          text-align: center;

          h1 {
            line-height: 30px;
            font-size: 1.5rem;
          }

          p {
            color: white;
            font-size: 1.3em;
            margin-bottom: 50px;
            white-space: pre-wrap;
          }

          a {
            display: inline-block;

            i {
              width: 60px;
              height: 60px;
              display: flex;
              align-items: center;
              justify-content: center;
              color: white;
              background: var(--color-orange);
              border-radius: 50%;
              font-size: 1.3em;
              margin-right: 20px;
              transform: rotate(-45deg);
              float: left;
            }

            span {
              color: var(--color-orange);
              font-size: 2.4em;

            }
          }
        }

        & > .left, .right {
          width: 100%;
          padding: 20px;

          & > p {
            text-align: justify;
          }
        }
      }
    }

    .protection {
      padding: 20px;
      background: url('/assurance/Background Opacity.png') no-repeat center / cover;
      height: 400px;
      display: flex;
      align-items: center;

      .wrapper {
        text-align: center;

        h2 {
          color: white;
          font-size: 2.5em;
          margin-bottom: 30px;
          line-height: 35px;
        }

        p {
          color: white;
          font-size: 1.1rem;
          width: 100%;
          text-align: initial;
        }

      }
    }

    .program {
      padding: 20px;
      background: white;

      .wrapper {
        text-align: center;

        h2 {
          font-weight: bold;
          font-size: 2em;
          margin-bottom: 40px;
          line-height: 35px;

          strong {
            color: var(--color-green);
          }
        }

        .body {
          background: white;
          width: 100%;
          display: grid;
          grid-template-columns: 1fr;
          grid-gap: 20px;
          padding: 0;
          box-shadow: none;
          border-radius: 0;

          .item {
            padding: 20px;
            width: 100%;
            box-shadow: var(--box-shadow-gray);
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            margin: 0 auto;

            figure {
              background: var(--body-bg);
              width: 60px;
              height: 60px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-bottom: 10px;
              border-radius: 50%;

              img {
                width: 50%;
              }
            }

            h3 {
              font-size: 1.3em;
              margin-bottom: 20px;
              font-weight: bold;
              line-height: 23px;
            }

            p {
              text-align: initial;
              font-size: 1.1rem;
            }
          }
        }
      }
    }

    .download {
      .wrapper {
        text-align: center;

        h2 {
          font-weight: bold;
          font-size: 1.5rem;
          line-height: 25px;
        }

        p {
          font-size: 1.2rem;
          font-weight: 500;
          text-align: initial;
          margin: 20px;
        }

        & > .am-footer {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

