
<section class="am-user-data-form">
  <div class="body">
    <h3>{{title}}</h3>
    <div class="am-row">
      <input type="text" placeholder="First Name">
    </div>
    <div class="am-row">
      <input type="text" placeholder="Last Name">
    </div>
    <div class="am-row">
      <input type="email" placeholder="Email">
    </div>
    <div class="am-row">
      <input type="tel" placeholder="Phone Number">
    </div>
    <div class="am-row">
      <textarea placeholder="Message"></textarea>
    </div>
    <div class="am-footer">
      <button>Enviar</button>
    </div>
  </div>
</section>

